.inspirationMain {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0px 80px 0px 0px;
  gap: 40px;
  box-sizing: border-box;
}

.inspirationText {
  width: 25%;
  height: 100%;
  background-color: #F4F4F1;
  padding: 60px 0px 0px 80px;
  flex-shrink: 0;
}

.inspirationText h5 {
  font-size: 14px;
  margin-bottom: 10px;
  color: #333333;
}

.inspirationText h5 a {
  position: relative;
  text-decoration: none;
  color: inherit;
  padding-bottom: 2px;
}

.inspirationText h5 a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.inspirationText h5 a:hover::after {
  transform: scaleX(1);
}

.inspirationText h5:not(:first-child) {
    margin-top: 30px;
}

.inspirationText ul {
  list-style-type: none;
  padding: 0;
}

.inspirationText ul li {
  padding-bottom: 4px;
  font-size: 14px;
  color: #333333;
}

.inspirationText ul li a {
  position: relative;
  text-decoration: none;
  color: inherit;
  padding-bottom: 4px;
}

.inspirationText ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.inspirationText ul li a:hover::after {
  transform: scaleX(1);
}

.contentWrapper {
  width: 75%;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}

/* --- DEĞİŞİKLİK BURADA --- */
.smallCardsGrid {
    width: 60%; /* Boşluq yaratmaq üçün biraz kiçiltdim */
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    align-content: start; 
    column-gap: 20px; 
    row-gap: 25px; 
}

.newsListWrapper {
    width: 35%; 
    padding-left: 40px; /* Sola boşluq əlavə etdim ki yapışmasın */
}

.newsListWrapper h5 {
    font-size: 14px;
    margin-bottom: 12px;
    color: #333333;
}

.newsListWrapper ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px; /* Boşluğu artırdım */
}

.newsListWrapper ul li a {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.collectionTitle {
  font-size: 14px;
  font-weight: 600;
  color: #111;
}

.collectionDesc {
  font-size: 13px;
  color: #666;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.smallCard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    text-decoration: none;
    color: #333;
}

.smallCardImageWrapper {
    width: 100%; 
    height: 160px;
    overflow: hidden;
    flex-shrink: 0;
}

/* Adjusting for 18+ inch screens (roughly min-width 1600px) */
@media screen and (min-width: 1600px) {
    .smallCardImageWrapper {
        width: calc(100% - 100px);
        height: 210px;
    }
}

.smallCardImageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.smallCardTitle {
    font-size: 14px;
    font-weight: 500;
}