.inspirationMain {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0px 80px 0px 0px;
  gap: 40px;
  box-sizing: border-box;
}

.inspirationText {
  width: 20%;
  height: 100%;
  background-color: #F4F4F1;
  padding: 60px 0px 0px 80px;
  flex-shrink: 0;
}

.inspirationText h5 {
  font-size: 14px;
  margin-bottom: 10px;
  color: #333333;
}

.inspirationText h5:not(:first-child) {
    margin-top: 30px;
}

.inspirationText ul {
  list-style-type: none;
  padding: 0;
}

.inspirationText ul li {
  padding-bottom: 8px;
  font-size: 14px;
  color: #333333;
}

.inspirationText ul li a {
  position: relative;
  text-decoration: none;
  color: inherit;
  padding-bottom: 4px;
}

.inspirationText ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.inspirationText ul li a:hover::after {
  transform: scaleX(1);
}

.contentWrapper {
  width: 80%;
  height: 100%;
  background-color: white;
  padding: 60px 80px 0 40px;
  display: flex;
  gap: 40px;
}

/* DEĞİŞİKLİK: Konumları ve genişlikleri güncellendi */
.smallCardsGrid {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 25px; /* Boşluk artırıldı */
    padding-right: 20px;
}

.mainCardWrapper {
    width: 25%;
    flex-shrink: 0;
}

/* Küçük Kart Stilleri Güncellendi */
.smallCard {
    display: flex;
    flex-direction: column; /* Dikey hizalama */
    align-items: flex-start; /* Sola hizalama */
    gap: 10px;
    text-decoration: none;
    color: #333;
    width: 150px;
}

.smallCardImageWrapper {
    width: 100%; /* Genişlik tam olacak */
    height: 120px; /* Yükseklik artırıldı */
    overflow: hidden;
    flex-shrink: 0;
    background-color: #f0f0f0;
}

.smallCardImageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.smallCard:hover .smallCardImageWrapper img {
    transform: scale(1.1);
}

.smallCardTitle {
    font-size: 14px;
    font-weight: 500;
    text-align: left; /* Metin sola hizalı */
}