
.hero {
    width: 100%;
    height: 100vh;
    position: relative; 
    display: flex;
    align-items: center;
    padding: 30px 80px;
    color: white;
}

.heroBottom {
    background-image: url("https://images.unsplash.com/photo-1618221195710-dd6b41faaea6?q=80&w=1400&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.heroTop {
    position: relative;
    z-index: 3;
    background-color: transparent;
    padding: 0;
}

.heroContent {
    width: 85%;
    z-index: 2;
}

.heroTitle {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 20px;
}

.heroTitle span {
    font-weight: 500;
}

.heroTitle span::before {
    content: '';
    display: inline-block;
    width: 50px;
    height: 1px;
    background-color: white;
    vertical-align: middle;
    margin: 0 15px;
}

.heroButton {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #3a3126;
    padding: 12px 35px;
    font-size: 15px;
    font-weight: 600;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
}

.heroButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

.heroButton:hover::before {
    transform: translateX(0);
}


@media (max-width: 768px) {
    .hero {
        height: 600px;
        display: flex;
        flex-direction: column;
        padding: 0; 
        background-color: #633730;
    }

    .hero::before {
        display: none;
    }

    .heroTop {
        padding: 120px 20px 30px 20px;
        flex-shrink: 0;
        background-color: #633730; 
        position: static; 
        order: 1;
    }

    .heroBottom {
        position: static; 
        flex-grow: 1;
        order: 2;
    }

    .heroContent {
        width: 100%;
    }

    .heroTitle {
        font-size: 26px;
    }

    .heroTitle span::before {
        width: 30px;
        margin: 0 10px;
    }
    
    .heroButton {
        padding: 10px 40px; 
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .productseriesVariant .heroTop {
        background-color: #FEF4BD !important;
        color: #000 !important;
    }
    
    .productseriesVariant .heroTitle span::before {
        background-color: #000 !important;
    }
}

@media (max-width: 768px) {
    .inspirationVariant .heroTop {
        background-color: #633730 !important;
        color: #fff !important;
    }
    
    .inspirationVariant .heroTitle span::before {
        background-color: #fff !important;
    }
}





@media (min-width: 768px) and (max-width: 1024px) {
    .hero {
        background-color: #633730;
        padding: 80px 0 60px 0;
        height: auto;
        display: block;
        position: relative; 
    }

    .productseriesVariant {
        background-color: #FEF4BD !important;
    }
    .heroBottom {
        position: relative;
        width: 100%;
        height: 55vh;
        min-height: 450px;
        z-index: 1;
    }

    .heroBottom::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
    }

    .heroTop {
        position: absolute;
        top: 120px;
        left: 0;
        width: 100%;
        height: calc(55vh + 60px); 
        min-height: 450px;
        display: flex;
        align-items: flex-start;
        padding: 0;
        z-index: 2;
    }

    .heroContent {
        width: 100%; 
        padding: 10px 60px;
        pointer-events: all; 
    }

    .heroTitle {
        font-size: 32px;
    }

    .hero::before {
        display: none;
    }

    .heroButton {
        padding: 8px 40px;
        font-size: 15px;
        font-weight: 600;
        position: relative;
        z-index: 2;
        overflow: hidden;
        transition: color 0.3s ease-in-out;
    }
}