

.systemHero {
    width: 100%;
    background-color: #2C3587;
    color: #fff;
    padding: 60px 80px 40px 80px;
    padding-top: 120px;
  }
  
  .content {
    width: 50%;
  }
  
  .title {
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 30px;
  }

  .description {
    line-height: 1.6;
    font-size: 16px;
  }

/* --- RESPONSIVE STYLES --- */
@media (min-width: 768px) and (max-width: 1024px) {
  .systemHero {
    padding: 120px 40px 20px;
  }
  
  .content {
    width: 100%;
    padding-right: 4em;
  }
  
  .title {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .systemHero {
    padding: 40px 20px;
    padding-top: 120px;
  }

  .content {
    width: 100%;
  }

  .title {
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 20px;
  }
}

  