.ecolabel {
  width: 50%;
  margin: 0 auto;
  padding: 60px 10em 60px 0px;
}

.ecolabel > h3 {
  margin-bottom: 2em;
}

.ecolabel p {
  font-weight: 600;
}

.ecolabel ul {
  margin: 30px 0px 0px 30px;
  list-style: disc;
}

.ecolabel ul li {
  padding-bottom: 1.6em;
  font-weight: 600;
}

.ecolabel .newEu {
  margin-top: 50px;
}

.newListBox {
  margin-top: 4em;
}

.newListBox h3 {
    margin-bottom: 0px;
}

.newList {
  list-style: disc;
}

.endPara {
    margin-top: 25px;
}