.bigHero {
  width: 100%;
  background-color: #5F90CA;
  padding: 120px 80px;
}

.bigHeroContent {
  width: 100%;
  height: 320px;
  display: flex;
  justify-content: space-between;
}

.bigHeroTitleContainer {
  width: 40%;
  margin-top: 4em;
  color: #000;
}

.bigHeroTitleContainer h1 {
    font-weight: 400;
    font-size: 38px;
}

.bigHeroTitleContainer h1 span {
    font-weight: 700;
}

.bigHeroImageContainer {
  width: 55%;
}

.bigHeroImageContainer img {
  width: 100%;
  height: 480px;
  object-fit: cover;
}
