.productsCategoryMain {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 0px 80px 0px 0px;
  gap: 40px;
  margin-top: 0px;
}

.productsCategoryText {
  width: 20%;
  height: 100%;
  background-color: #F4F4F1;
  margin-top: 4em;
  padding-left: 80px;
}

.productsCategoryText h5 {
  font-size: 14px;
}

.productsCategoryText ul {
  list-style-type: none;
}

.productsCategoryText ul li {
  padding-bottom: 10px;
  font-size: 13px;
}

.contentWrapper {
  width: 80%;
  height: 100%;
  background-color: white;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
  margin-top: 4em;
}
