.productsCategoryMain {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 0px 80px 0px 0px;
  gap: 40px;
  margin-top: 0px;
}

.productsCategoryText {
  width: 20%;
  height: 100%;
  background-color: #F4F4F1;
  padding: 60px 0px 0px 80px;
}

.productsCategoryText h5 {
  font-size: 14px;
  margin-bottom: 5px;
  color: #333333;
}

.productsCategoryText h5:nth-child(3) {
  margin-top: 30px;
}

.productsCategoryText ul {
  list-style-type: none;
}



.productsCategoryText ul li {
  padding-bottom: 5px;
  font-size: 14px;
  color: #333333;
}

.productsCategoryText ul li a {
  position: relative;
  text-decoration: none;
  color: inherit;
  padding-bottom: 4px;
}

.productsCategoryText ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.productsCategoryText ul li a:hover::after {
  transform: scaleX(1);
}

.contentWrapper {
  width: 80%;
  height: 100%;
  background-color: white;
  padding-top: 60px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-items: center;
}
