.aboutHero {
  width: 100%;
  background-color: #2C3587;
  color: #fff;
  padding: 120px 80px;
}

.content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.textContent {
  width: 48%;
  margin-top: 40px;
}

.title {
  font-size: 42px;
  line-height: 1.6;
  margin-bottom: 30px;
  font-weight: 700;
}

.title span {
  font-weight: 500;
}

.description {
  font-size: 18px;
  line-height: 1.6;
  opacity: 0.9;
  font-weight: 500;
}


.heroImage {
  width: 680px;
  height: 540px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0;
}

.heroImageImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* --- RESPONSIVE STYLES --- */
@media (max-width: 1024px) {
  .content {
    flex-direction: column;
    gap: 40px;
  }
  
  .heroImage {
    width: 100%;
    max-width: 680px;
    height: 400px;
  }
}

@media (max-width: 768px) {
  .aboutHero {
    padding: 40px 20px;
    padding-top: 120px;
  }

  .content {
    gap: 30px;
  }

  .title {
    font-size: 32px;
    line-height: 1.3;
    margin-bottom: 20px;
  }

  .description {
    font-size: 16px;
  }

  .heroImage {
    height: 300px;
  }
}
