/* ProductSliderSystem.module.css - System sayfası için özel ProductSlider stilleri */

.sliderMain {
    width: 100%;
    padding: 30px 0;
    overflow: hidden;
}

.container {
    padding: 0 80px;
    margin: 0 auto;
    max-width: 1600px;
}

.sliderMain .sliderTitle {
    width: 100%;
    padding: 40px 0 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.sliderTitle .sliderTitleText {
    font-size: 32px;
    font-weight: 500;
    color: #333;
}

/* System variant için arrow'ları gizle */
.desktopNav {
    display: none;
}

.embla {
  overflow: hidden;
  padding-left: 80px; 
  margin-top: 25px;
}

.embla__container {
  display: flex;
  padding-right: 20px;
}

.embla__slide {
  flex: 0 0 auto; 
  min-width: 0;
  position: relative;
  margin-right: 20px;
}

.slideContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.slideItem {
    flex-shrink: 0; 
    width: 540px; 
    height: 700px; 
    cursor: pointer;
    background-color: #e0e0e0; 
    overflow: hidden; 
}

/* Farklı width'ler için sınıflar */
.slideItem.wide {
    width: 900px;
    height: 700px;
}

.slideItem.normal {
    width: 700px;
    height: 700px;
}

/* Şəklin özü üçün stil */
.cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.slideCaption {
    margin: 0; 
    padding: 0; 
    margin: 15px 0px 0px 5px;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

/* Progress bar stilleri */
.progressBar {
    display: none; /* Desktopda gizli */
    position: relative;
    height: 1px;
    background-color: #e0e0e0;
    margin: 40px 80px 0 80px;
}

.progressBarFill {
    position: absolute;
    height: 100%;
    background-color: #333;
    transition: width 100ms ease-out;
}

/* --- RESPONSIVE STYLES --- */
@media (max-width: 768px) {
  .container {
      padding: 0 20px;
  }

  .sliderTitle .sliderTitleText {
      font-size: 22px;
  }

  .embla {
      padding-left: 20px;
  }

  .slideItem {
      width: 280px !important;
      height: 350px !important;
  }

  .slideItem.wide {
      width: 280px !important;
      height: 350px !important;
  }

  .slideItem.normal {
      width: 280px !important;
      height: 350px !important;
  }

  .slideCaption {
      font-size: 14px;
      margin: 10px 0px 0px 0px;
  }

  /* Progress bar'ı mobile'da göster */
  .progressBar {
      display: block;
      margin: 40px 20px 0 20px;
  }
}