.fav {
    width: 100%;
    padding: 60px 80px;
}

.fav .favMain {
    width: 55%;
    margin: 0 auto;
    padding-right: 6em;
}

.favMain h2 {
    color: #020203;
    margin-bottom: 1.4em;
    font-size: 32px;
    font-weight: 400;
}

.favText {
    font-weight: 600;
}


.favMain p + p {
    margin-top: 30px;
}

.favBtn {
    display: inline-block;
    padding: 10px 24px;
    border: 1px solid rgb(175, 175, 175);
    font-size: 14px;
    margin-top: 20px;
    transition: all .3s ease;
}

.favBtn:hover {
    border: 1px solid #020203;
}

/* --- RESPONSIVE STYLES --- */
@media (min-width: 768px) and (max-width: 1024px) {
  .fav {
    padding: 50px 40px;
  }

  .fav .favMain {
    width: 100%;
    margin: 0;
    padding-right: 4em;
  }

  .favMain h2 {
    font-size: 20px;
    font-weight: 500;
  }
  
  .favText {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .fav {
    padding: 40px 0px;
  }

  .fav .favMain {
    width: 100%;
    margin: 0;
    padding: 0 20px;
  }

  .favMain h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .favText {
    font-size: 14px;
    line-height: 1.5;
  }

  .favMain p + p {
    margin-top: 20px;
  }

  .favBtn {
    padding: 12px 20px;
    font-size: 14px;
    margin-top: 25px;
  }
}