.slideItem {
    flex-shrink: 0; /* Slider içində sıxılmasının qarşısını alır */
    width: 320px;
    height: 400px;
    cursor: pointer;
    background-color: #e0e0e0; /* Şəkil yüklənənə qədər görünəcək ehtiyat rəng */
    overflow: hidden; 
}

/* Şəklin özü üçün stil */
.cardImage {
    width: 100%;
    height: 100%;
    
    object-fit: contain;

    /* Hover effekti üçün yumşaq keçid */
    transition: transform 0.4s ease;
}


.slideCaption {
    margin: 0; 
    padding: 0; 
    margin: 15px 0px 0px 5px; 
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

/* YENİ: Mobil üçün responsiv stil */
@media (max-width: 768px) {
.slideItem {
  width: 180px;
  height: 240px;
}
}


@media (min-width: 768px) and (max-width: 1024px) {
    .slideItem {
      width: 100%; /* Kartın enini öz valideyninə (280px-lik .embla__slide) uyğunlaşdırır */
    }
  }