 .inspiringCard {
    width: 100%;
    padding: 40px 20px;
 }

.inspiringCardMain {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   gap: 40px;
}

 .inspiringCardItem {
    width: 310px;
    height: auto;
    align-items: center;
 }
 
 .inspiringCardItemImage {
    object-fit: cover;
 }

 .inspiringCardItemContent {
    width: 100%;
 }

 .inspiringCardItemContent span {
    font-size: 14px;
    font-weight: 600;
    color: #333;
 }

@media (min-width: 769px) and (max-width: 1024px) {
    .inspiringCard {
        padding: 40px 20px;
    }

    .inspiringCardMain {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        align-items: start;
    }
    
    .inspiringCardItem {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .inspiringCardItemImage {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    
    .inspiringCardItemImage img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .inspiringCardItemContent {
        width: 100%;
        text-align: center;
        padding: 10px 0px;
    }
    
    .inspiringCardItemContent span {
        font-size: 14px;
        font-weight: 600;
    }
}

 @media (max-width: 768px) {
    .inspiringCard {
        padding: 40px 20px;
    }

    .inspiringCardMain {
        gap: 20px;
    }
    
    .inspiringCardItem {
        width: 47%;
    }
    
    .inspiringCardItemContent {
        padding: 0px 20px;
    }
    .inspiringCardItemContent span {
        font-size: 12px;
    }
 }

 