.hero {
  width: 100%;
  background-color: #EEECDD;
  color: #333;
  padding: 40px 80px;
}

.content {
  width: 100%;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 680px;
  align-items: start;
  gap: 4em;
}

.textContent {
  margin-top: 50px;
}

.title {
  font-size: 40px;
  line-height: 1.6;
  margin-bottom: 30px;
  font-weight: 700;
}

.title span {
  font-weight: 400;
  font-size: 35px;
}

.description {
  font-size: 18px;
  line-height: 1.6;
  opacity: 0.9;
  font-weight: 500;
}

.heroImage {
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin-bottom: -120px; 
}

.heroImageImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}



/* === TABLET EKRANLARI ÜÇÜN (769px - 1024px) === */
@media (min-width: 769px) and (max-width: 1024px) {
  .hero {
    padding: 120px 40px 60px;
    padding-bottom: 60px; 
  }

  .content {
    grid-template-columns: 1fr;
    gap: 30px;
    margin: 0 auto;
  }

  .textContent {
    margin-top: 0;
  }

  .title {
    font-size: 32px;
    max-width: 680px;

  }
  
  .title span {
    font-size: 28px;
  }

  .description {
    font-size: 15px;
    max-width: 680px;
    margin-bottom: 50px;
  }

  .heroImage {
    width: 100%;
    max-width: 800px;
    height: 450px;
    margin: 0 auto;
    margin-bottom: -80px;
  }

  .companyBox p {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0;
  }

  .textContent {
    width: 100%;
    padding: 70px 20px 10px;
    order: 1; 
  }

  .title {
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 20px;
  }

  .description {
    font-size: 14px;
  }

  .imageContent {
    order: 2;
    width: 100%; 
  }

  .heroImage {
    width: 100%; 
    height: 450px;
    padding: 0;
    margin: 0;
  }

  .heroImageImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}