.hero {
  width: 100%;
  background-color: #EEECDD;
  color: #333;
  padding: 40px 80px;
}

.content {
  width: 100%;
  margin: 50px auto;
  display: flex;
  position: relative;
}

.textContent {
  width: 48%;
  margin-top: 50px;
  padding-right: 4em;
}

.title {
  font-size: 40px;
  line-height: 1.6;
  margin-bottom: 30px;
  font-weight: 700;
}

.title span {
  font-weight: 400;
  font-size: 35px;
}

.description {
  font-size: 18px;
  line-height: 1.6;
  opacity: 0.9;
  font-weight: 500;
}


.heroImage {
  width: 680px;
  height: 500px;
  overflow: hidden;
  position: absolute;
  top: 20px;
  right: 0;
}

.heroImageImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* --- RESPONSIVE STYLES --- */
@media (max-width: 1024px) {
  .content {
    flex-direction: column;
    gap: 40px;
  }
  
  .heroImage {
    width: 100%;
    max-width: 680px;
    height: 400px;
    position: relative;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 0;
  }

  .textContent {
    width: 100%;
    padding: 30px 20px 10px;
    position: relative;
    z-index: 1;
  }

  .content {
    gap: 0;
  }

  .title {
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 20px;
  }

  .description {
    font-size: 14px;
  }

  .heroImage {
    height: 300px;
    background-color: transparent;
    padding: 0;
  }
}
