.size {
    width: 100%;
    padding: 0px 80px 60px 80px;
}

.size .sizeContent {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.sizeContent .sizeItems {
    width: 31%;
    text-align: center;
}

.sizeItems img {
    width: 100%;
    height: 320px;
}

.sizeItems h3 {
    font-size: 16px;
}

.sizeItems span {
    font-size: 14px;
}

/* --- RESPONSIVE STYLES --- */
@media (max-width: 768px) {
  .size {
    padding: 40px 20px;
  }

  .size .sizeContent {
    width: 100%;
    flex-direction: column;
    gap: 30px;
  }

  .sizeContent .sizeItems {
    width: 100%;
  }

  .sizeItems img {
    height: 250px;
  }

  .sizeItems h3 {
    font-size: 15px;
    margin-top: 15px;
  }

  .sizeItems span {
    font-size: 14px;
  }
}