.size {
    width: 100%;
    padding: 0px 80px 60px 80px;
}

.size .sizeContent {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.sizeContent .sizeItems {
    width: 31%;
    text-align: center;
}

.sizeItems img {
    width: 100%;
    height: 320px;
}

.sizeItems h3 {
    font-size: 16px;
}

.sizeItems span {
    font-size: 14px;
}