.mainContent {
  display: flex;
  gap: 60px;
  padding: 120px 80px 80px 80px;
  background-color: #F5F5F5;
}

.galleryWrapper {
  width: 60%;
  flex-shrink: 0;
}

.infoWrapper {
  width: 40%;
  flex-shrink: 0;
  padding-top: 20px;
}

.specsSection {
  padding: 80px;
  background-color: #fff;
}

.sliderSection {
    background-color: #fff;
    padding-bottom: 80px;
}

/* Mobil için responsive düzenleme */
@media (max-width: 1024px) {
    .mainContent {
        flex-direction: column;
        padding: 100px 40px 40px 40px;
    }
    .galleryWrapper, .infoWrapper {
        width: 100%;
    }
    .specsSection {
        padding: 60px 40px;
    }
    .sliderSection {
        padding: 0 0 60px 0;
    }
}