.paletteMain {
  width: 100%;
  padding: 60px 80px;
  display: flex;
  overflow: hidden;
}

.paletteMain.reversed {
  flex-direction: row-reverse;
}

.paletteMain.reversed .paletteImgBox {
  flex-direction: row-reverse;
}

.paletteMain.reversed .paletteOneColor {
  margin-left: 0;
  margin-right: auto;
}

.paletteMain.reversed .paletteJpg {
  left: 60px;
  right: auto;
  width: 500px;
  height: 380px;
}

.paletteMain.reversed .paletteTextBox {
  padding: 3rem 10rem 0 0;
}

.paletteMain .paletteTextBox {
  width: 50%;
  padding: 3rem 10rem 0 0;
}

.paletteTextBoxTitle span {
  font-size: 15px !important;
  font-weight: 700;
}

.paletteTextBox h2 span {
  font-size: 40px !important;
  font-weight: 400;
}

.paletteDescription {
  margin: 30px 0px;
  font-weight: 600;
}

.paletteDescription p + p {
  margin-top: 30px;
}

.heroButton {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #2c3587;
  padding: 8px 30px;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  z-index: 2;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}

.heroButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.heroButton:hover::before {
  transform: translateX(0);
}

.paletteMain .paletteImgBox {
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: row;
}

.paletteOneColor {
  width: 510px;
  height: 580px;
  margin-left: auto;
  position: relative;
  z-index: 1;
}

.paletteJpg {
  width: 600px;
  height: 450px;
  position: absolute;
  top: 60px;
  left: 30px;
  background-size: cover;
  transition: transform 0.4s ease-in-out;
  z-index: 2;
}

.paletteJpg:hover {
  transform: scale(1.05);
}

/* --- RESPONSIVE STYLES --- */
@media (min-width: 768px) and (max-width: 1024px) {
  .paletteMain {
    padding: 50px 40px;
    flex-direction: column;
  }

  .paletteMain .paletteImgBox {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto 30px auto;
    order: 1;
  }

  .paletteOneColor {
    width: 600px;
    height: 500px;
    padding: 20px;
  }

  .paletteJpg {
    width: 500px !important;
    height: 400px !important;
    top: 50%;
    left: 30% !important;
    z-index: 3;
    object-fit: cover;
  }

  .paletteMain .paletteTextBox {
    width: 100%;
    padding: 0;
    order: 2;
    max-width: 400px;
  }

  .paletteTextBox h2 span {
    font-size: 20px !important;
    font-weight: 500;
  }

  .paletteDescription {
    font-size: 14px;
    margin: 15px 0px;
  }

  .paletteDescription p + p {
    margin-top: 15px;
  }

  .heroButton {
    font-size: 12px;
    padding: 8px 20px;
  }
}

@media (max-width: 768px) {
  .paletteMain {
    padding: 40px 20px;
    flex-direction: column-reverse; 
  }

  .paletteMain .paletteTextBox,
  .paletteMain .paletteImgBox {
    width: 100%;
  }

  .paletteMain .paletteTextBox {
    padding: 0 25px;
  }

  .paletteTextBox h2 span {
    font-size: 18px !important;
  }

  .paletteDescription {
    font-size: 14px;
  }

  .paletteDescription p + p {
    margin-top: 10px;
  }

  .paletteImgBox {
    min-height: 380px;
    position: relative;
    display: block;
  }

  .paletteOneColor {
    width: 240px !important;
    height: 380px !important;
    position: absolute;
    left: 0;
    right: auto;
  }

  .paletteJpg {
    width: 300px !important;
    height: 300px !important;
    position: absolute;
    top: 35px !important;
    right: 20px !important;
    left: auto !important;
  }
}
