.companies {
  width: 100%;
  padding: 60px 80px;
}

.companiesTitle {
  width: 75%;
  margin: 0 auto;
  position: relative;
}

.companiesTitle h4 {
  position: relative;
  z-index: 2;
  color: #020203;
  font-style: italic;
  font-weight: 500;
  line-height: 1.6;
  margin: 0;
  padding: 2.5em 5em; 
}

.companyBox {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px; 
  height: 100%; 
  z-index: 1; 
}

.companyBox p {
  padding: 1.5em 3em;
}

.companyAuthor {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

.companyAuthor span {
  font-size: 14px;
  font-weight: 600;
}


/* --- MOBİL CİHAZLAR ÜÇÜN --- */
@media (max-width: 768px) {
.companies {
  padding: 40px 20px;
}

.companiesTitle {
  width: 100%;
}

.companiesTitle h4 {
  font-size: 16px;
  line-height: 1.5;
  padding: 3.5em 2em 2em 3em;
}

.companyBox {
  width: 200px; /* Mobil üçün enini bir az azaldırıq */
}



.companyBox p {
  padding: 1.5em;
}

.companyAuthor {
  justify-content: flex-end;
  padding-right: 0;
  padding-left: 3em;
  margin-top: 10px;
}
}