.cardLink {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card {
  width: 100%;
  text-align: left;
  position: relative;
}

.imageWrapper {
  width: 320px;
  height: 400px;
  overflow: hidden;
  position: relative; /* Butonu konumlandırmak için */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.cardLink:hover .image {
  transform: scale(1.05);
}

.cardTitle {
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
}

.cardDetails {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #666;
  margin-top: -5px;
}

.cardColor,
.cardSize {
  color: #666;
}

/* YENİ EKLENEN KISIM */
.productButton {
  position: absolute;
  bottom: 40px; /* Alttan 20px yukarıda */
  left: 40%;
  transform: translateX(-50%);
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  opacity: 0; /* Başlangıçta gizli */
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

/* Butonun hover'da görünmesi */
.cardLink:hover .productButton {
  opacity: 1;
  visibility: visible;
}

/* Butonun altındaki çizgi animasyonu */
.productButton {
  position: relative;
  text-decoration: none;
  color: inherit;
  padding-bottom: 2px;
  display: inline-block;
}

.productButton::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.productButton:hover::after {
  transform: scaleX(1);
}