.cardLink {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card {
  width: 100%;
  text-align: left;
  position: relative;
}

.imageWrapper {
  /* Genişliği %100 yaparak grid'e uyum sağlamasını sağlıyoruz */
  width: 100%; 
  height: 320px; /* Yüksekliği biraz azalttım, metinlere yer açılsın */
  /* overflow: hidden; */
  position: relative;
  background-color: #f8f9fa; /* Resim yüklenene kadar yer tutucu */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}


/* --- YENİ EKLENEN VE GÜNCELLENEN STİLLER --- */
.cardInfo {
    margin-top: 15px;
}
     
.cardTitle {
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  color: #333;
}

.cardColor {
  /* İstediğin gibi 20px boşluk */
  margin: 20px 0px 0px 0px; 
  font-size: 12px;
}

.cardMeasurements, .cardPosition {
  font-size: 12px;
  margin: 0px;
}
/* ------------------------------------------- */

.productButton {
  position: absolute;
  bottom: 20px; /* Yüksekliği azalttığımız için bottom'ı ayarladım */
  left: 50%;
  transform: translateX(-50%);
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  white-space: nowrap; /* Metnin alta kaymasını engelle */
}

.cardLink:hover .productButton {
  opacity: 1;
  visibility: visible;
}

.productButton::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.productButton:hover::after {
  transform: scaleX(1);
}