.cardLink {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  
  .card {
    width: 100%;
    text-align: left;
  }
  
  .imageWrapper {
    width: 325px;
    height: 430px;
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  
  .cardLink:hover .image {
    transform: scale(1.05);
  }
  
  .cardTitle {
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .cardPrice {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #666;
  }