.section {
  width: 100%;
  background-color: #3B7840;
  color: #fff;
  padding: 60px 80px;
  padding-top: 120px;
}

.content {
  width: 50%;
}

.title {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 30px;
}

.description {
  line-height: 1.6;
}

/* --- RESPONSIVE STYLES --- */
@media (max-width: 768px) {
  .section {
    padding: 40px 20px;
    padding-top: 120px;
  }

  .content {
    width: 100%;
  }

  .title {
    font-size: 22px;
    line-height: 1.3;
    margin-bottom: 20px;
  }

  .description {
    font-size: 14px;
    line-height: 1.5;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .section {
    width: 100%;
    padding: 120px 30px 20px;
  }
  
  .content {
    width: 100%;
    padding-right: 4em;
  }
  
  .title {
    font-size: 22px;
    width: 100%;
  }
  
  .description {
    width: 100%;
  }
}