.section {
  width: 100%;
  background-color: #3B7840;
  color: #fff;
  padding: 60px 80px;
  padding-top: 120px;
}

.content {
  width: 50%;
}

.title {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 30px;
}

.description {
  line-height: 1.6;
}
