.seriesCategoryMain {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0px 80px 0px 0px;
  gap: 20px; /* Header'ın altında kalması için üst boşluk */

}
.seriesCategoryText {
  width: 25%;
  height: 100%;
  background-color: #F4F4F1;
}


.contentWrapper {
  width: 75%;
  height: 100%;
  background-color: white;
}

.gridContainer {
  display: flex;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  flex-wrap: wrap;
  gap: 20px;
  justify-items: center;
}
