.seriesCategoryMain {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 0px 80px 0px 0px;
  gap: 40px;
  margin-top: 0px;
}

.seriesCategoryText {
  width: 20%;
  height: 100%;
  background-color: #F4F4F1;
  padding: 60px 0px 0px 80px;
}

.seriesCategoryText h5 {
  font-size: 14px;
  
}

.seriesCategoryText ul {
  list-style-type: none;
}

.seriesCategoryText ul li {
  padding-bottom: 10px;
}

.seriesCategoryText ul li {
  font-size: 13px;
}

.contentWrapper {
  width: 80%;
  height: 100%;
  background-color: white;
  padding-top: 60px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-items: center;
}
