.seriesCategoryMain {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 0px 80px 0px 0px;
  gap: 40px;
  margin-top: 0px;
  box-sizing: border-box;
}

.seriesCategoryText {
  width: 20%;
  height: 100%;
  background-color: #F4F4F1;
  padding: 60px 0px 0px 80px;
}

.seriesCategoryText h5 {
  font-size: 14px;
  color: #333333;
}

.seriesCategoryText ul {
  list-style-type: none;
}

.seriesCategoryText ul li {
  padding-bottom: 10px;
}

.seriesCategoryText ul li {
  font-size: 13px;
  color: #333333;
}

.seriesCategoryText ul li a {
  position: relative;
  text-decoration: none;
  color: inherit;
  padding-bottom: 4px;
}

.seriesCategoryText ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.seriesCategoryText ul li a:hover::after {
  transform: scaleX(1);
}

.contentWrapper {
  width: 80%;
  height: 100%;
  background-color: white;
  padding-top: 60px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  justify-items: center;
}

.loadingState {
  grid-column: 1 / -1;
  padding: 40px;
  text-align: center;
  color: #888;
}
