.heroSection {
  width: 100%;
  background-color: #DD7D74; 
  color: #fff;
  padding: 40px 80px;
  padding-top: 130px; 
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.content {
  width: 60%;
}

.title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 30px;
}

.description {
  line-height: 1.6;
  font-size: 16px;
}

/* --- RESPONSIVE STYLES --- */
@media (min-width: 768px) and (max-width: 1024px) {
  .heroSection {
    padding: 50px 40px;
    padding-top: 120px;
  }

  .content {
    width: 70%;
  }

  .title {
    font-size: 28px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 25px;
  }

  .description {
    line-height: 1.5;
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .heroSection {
    padding: 40px 20px;
    padding-top: 120px;
  }

  .content {
    width: 100%;
  }

  .title {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .description {
    font-size: 14px;
    line-height: 1.5;
  }
}