.certifications {
  width: 100%;
  padding: 70px 0px 85px;
}

.certifications .certificationsMain {
  width: 560px;
  margin: 0 auto;
}

.certificationsMain h2 {
  font-weight: 600;
  margin-bottom: 25px;
}

.certificationsMain p {
  font-weight: 600;
  margin-bottom: 25px;
}

.certifications .certificationsLogo {
  width: 100%;
  height: auto;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.certificationsLogo .certificationsLogoItems {
  width: 45%;
  height: 200px;
  margin-bottom: 40px;
}
