.coloursImg {
    width: 100%;
    padding: 60px 80px 60px 0px;
}

.coloursImgMain {
    width: 100%;
    position: relative; 
}



/* --- RESPONSIVE STYLES --- */
@media (min-width: 768px) and (max-width: 1024px) {
    .coloursImg {
        padding: 50px 40px;
    }
    
    .coloursImgMain {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .coloursImgMain img {
        width: 90%;
        max-width: 800px;
        height: auto;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
    .coloursImg {
        padding: 40px 20px;
    }
    
    .coloursImgMain img {
        width: 100%;
        height: auto;
    }
}