.overlayContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 45%;
  height: 100vh;
  background-color: white;
  z-index: 2000;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.overlayContainer.open {
  transform: translateY(0);
}

.searchWrapper {
  width: 100%;
  padding-top: 30px;
}

.searchBox {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 0 40px;
  box-sizing: border-box;
  gap: 40px;
}

.searchInput {
  flex-grow: 1;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 1.8rem;
  padding: 10px 0;
  outline: none;
  color: #333;
  transition: border-bottom-color 0.3s ease;
}

.searchInput::placeholder {
  color: #aaa;
  font-style: italic;
}

.searchInput:focus {
  border-bottom-color: #633730;
}


.closeButton {
  background: none;
  border: none;
  cursor: pointer;
  /* Başlangıç rengini de biraz yumuşattım */
  color: #888; 
  
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
}

.closeButton:hover {
  /* DEĞİŞİKLİK: Saf siyah (#000) yerine koyu gri (#333) kullanıldı */
  color: #333;
  transform: scale(1.1);
}


.searchWrapper p {
    padding: 40px;
    font-size: 14px;
    font-weight: 700;
}