.overlayContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 45%;
  height: 100vh;
  background-color: white;
  z-index: 101;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}

.overlayContainer.open {
  transform: translateY(0);
}

.searchWrapper {
  width: 100%;
  padding-top: 30px; /* Üstten boşluk */
}

.searchBox {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 0 40px;
  box-sizing: border-box;
  gap: 40px; /* Input ve X arasında boşluk */
}

.searchInput {
  flex-grow: 1;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 1.8rem;
  padding: 10px 0;
  outline: none;
  color: #333;
  transition: border-bottom-color 0.3s ease;
}

.searchInput::placeholder {
  color: #aaa;
  font-style: italic;
}

.searchInput:focus {
  border-bottom-color: #633730;
}

.closeButton {
  background: none;
  border: none;
  font-size: 2.5rem;
  line-height: 1;
  cursor: pointer;
  color: #633730;
  transition: color 0.3s ease, transform 0.3s ease;
  padding: 5px;
}

.closeButton:hover {
  color: #000;
  transform: rotate(90deg);
}