.aboutBigImage {
  width: 100%;
  height: auto;
  padding: 60px 0px 60px 80px;
}

.aboutBigImageMain {
  width: 100%;
  height: auto;
}

.aboutBigImageMain img {
  width: 100%;
  height: 1000px;
  object-fit: cover;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .aboutBigImage {
    padding: 50px 0px 50px 40px;
  }

  .aboutBigImageMain {
    display: flex;
    justify-content: flex-end;
  }

  .aboutBigImageMain img {
    height: 500px;
    width: 80%;
  }
}

@media (max-width: 768px) {
  .aboutBigImage {
    padding: 40px 50px 40px 0px;
    display: flex;
    flex-direction: row-reverse;
  }
  
  
  .aboutBigImageMain img {
    height: 300px;
  }
}