.aboutBigImage {
  width: 100%;
  height: auto;
  padding: 60px 0px 60px 80px;
}

.aboutBigImageMain {
  width: 100%;
  height: auto;
}

.aboutBigImageMain img {
  width: 100%;
  height: 1000px;
  object-fit: cover;
}

/* --- RESPONSIVE STYLES --- */
@media (max-width: 768px) {
  .aboutBigImage {
    padding: 40px 50px 40px 0px;
    display: flex;
    flex-direction: row-reverse;
  }
  
  
  .aboutBigImageMain img {
    height: 300px;
  }
}