.bannerWrapper {
  margin-top: 50px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .customHeroImage {
    width: 400px;
    height: 400px;
    position: absolute;
    right: 50px;
    top: 50%; 
    transform: translateY(-10%); 
    object-fit: cover;
    object-position: center;
  }
}

@media (min-width: 1300px) {
  .customHeroImage {
    width: 500px;
    height: 500px;
    position: absolute;
    right: 120px;
    top: 65%; 
    transform: translateY(-50%); 
    object-fit: cover;
    object-position: center;
  }
}

@media (min-width: 769px) {
  .customHeroLayout {
    min-height: 620px;
    position: relative;
  }
}