.bannerWrapper {
  margin-top: 50px;
}

/* DƏYİŞİKLİK: Adları ümumi etdik */
@media (min-width: 769px) {
  .customHeroImage {
    width: 480px;
    height: 480px;
    top: 80px;
    right: 120px;
  }
}

/* DƏYİŞİKLİK: Adları ümumi etdik */
@media (min-width: 769px) {
  .customHeroLayout {
    min-height: 620px;
    position: relative;
  }
}

