.bannerWrapper {
  margin-top: 50px;
}

@media (min-width: 769px) {
  .lumikelloHeroImage {
    width: 480px;
    height: 480px;
    top: 80px;
    right: 120px;
  }
}

@media (min-width: 769px) {
  .lumikelloHeroWrapper {
    min-height: 620px;
    position: relative;
  }
}