.bannerWrapper {
  margin-top: 50px;
}

/* DƏYİŞİKLİK BURADADIR */
@media (min-width: 769px) {
  .customHeroImage {
    width: 480px;
    height: 480px;
    position: absolute;
    right: 120px;
    top: 50%; /* Konteynerin ortasına çəkir */
    transform: translateY(-30%); /* Şəkli yuxarıdan deyil, aşağıdan mövqeləndiririk */
  }
}

@media (min-width: 769px) {
  .customHeroLayout {
    min-height: 620px;
    position: relative;
  }
}