.badges {
    width: 100%;
    padding: 50px 80px;
}

.badges .badgesContent {
    width: 100%;
    padding: 3rem 4rem;
    background-color: #f4f4f1;
    display: flex;
    justify-content: space-between;
}

.badgesContent .badgesItem {
    width: 31%;
    padding-right: 12px;
}

.badgesItem h3 {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
}

.badgesItem p {
    margin-top: 10px;
    font-weight: 400;
    font-size: 15px;
}

/* --- RESPONSIVE STYLES --- */
@media (max-width: 768px) {
    .badges {
        padding: 40px 0;
    }

    .badges .badgesContent {
        flex-direction: column;
        gap: 30px;
        padding: 2rem;
    }

    .badgesContent .badgesItem {
        width: 100%;
        padding-right: 0;
    }

    /* === DƏYİŞİKLİKLƏR BURADADIR === */
    .badgesItem h3 {
        font-size: 18px; /* Başlıq ölçüsü kiçildildi */
    }

    .badgesItem p {
        font-size: 14px; /* Təsvir mətni kiçildildi */
    }
}
