.paletteMain {
  width: 100%;
  padding: 60px 80px;
  display: flex;
}

.paletteMain.reversed {
  flex-direction: row-reverse;
}

.paletteMain .paletteTextBox {
    width: 50%;
    padding: 3rem 10rem 0 0;
}

.paletteMain.reversed .paletteTextBox {
  padding: 3rem 0 0 10rem;
}

.paletteTextBoxTitle span {
    font-size: 15px !important;
    font-weight: 700;
}

.paletteTextBox h2 span {
    font-size: 40px !important;
    font-weight: 400;
}

.paletteDescription {
    margin: 30px 0px;
    font-weight: 600;
}

.paletteDescription p + p {
    margin-top: 30px; /* İkinci paragraf için 20px mesafe */
}

.heroButton {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #2c3587;
    padding: 8px 30px;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    z-index: 2;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
  }
  
  .heroButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    z-index: -1;
  }
  
  .heroButton:hover::before {
    transform: translateX(0);
  }

.paletteMain .paletteImgBox {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

/* Third variant tweaks */
.thirdVariant .paletteImgBox {
    justify-content: flex-end; /* image from right */
}

.thirdVariant .paletteOneColor {
    margin-right: auto; /* anchor color block to left */
    position: relative;
    z-index: 1; /* stay under the image */
    width: 510px;
    height: 600px;
}

.thirdVariant .paletteJpg {
    width: 630px;
    height: 500px;
    top: 50px;
    right: -20px; /* stick out 50-60px from right */
    left: auto; /* position from right */
    z-index: 2; /* above the color block */
}

.paletteOneColor {
    width: 510px;
    height: 580px;
}

.paletteJpg {
    width: 370px;
    height: 500px;
    position: absolute;
    top: 40px;
    left: 0px;
    background-size: cover;
    transition: transform 0.4s ease-in-out;
}

.paletteJpg:hover {
    transform: scale(1.05);
}