.imagesSection {
    width: 100%;
    padding: 60px 0px;
}

.imagesSection .imagesMain {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.imagesMain .imagesLeft {
    width: 560px;
}

.imagesLeft img {
    width: 100%;
    height: 750px;
    object-fit: cover;
}

.imagesMain .imagesRight {
    width: 800px;
}

.imagesRight img {
  width: 100%;
  height: 570px;
  object-fit: cover;
}

/* --- RESPONSIVE STYLES --- */
@media (max-width: 768px) {
  .imagesSection {
    padding: 40px 0;
  }

  .imagesSection .imagesMain {
    flex-direction: column;
    gap: 20px;
    padding: 0;
  }

  .imagesMain .imagesLeft {
    width: 100%;
  }

  .imagesLeft img {
    width: 340px;
    height: 240px;
    object-fit: cover;
  }

  .imagesMain .imagesRight {
    width: 100%;
  }

  .imagesRight img {
    width: 340px;
    height: 460px;
    object-fit: cover;
  }
}