.pageHeader {
  width: 100%;
  background-color: #6a9ac9;
  color: #000;
  padding: 40px 80px;
  padding-top: 130px; 
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.pageHeader .content {
  width: 60%;
  padding: 0;
  margin: 0;
}

.pageHeader h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  margin: 0;
}

/* Responsive styles */
@media (min-width: 769px) and (max-width: 1024px) {
  .pageHeader {
    padding: 50px 40px;
    padding-top: 120px;
  }
  .pageHeader .content {
    width: 70%;
  }
  .pageHeader h1 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  .pageHeader {
    padding: 40px 20px;
    padding-top: 120px;
  }
  
  .pageHeader .content {
    width: 100%;
  }
  
  .pageHeader h1 {
    font-size: 22px;
  }
}
