

.section {
  width: 100%;
  background-color: #3B7840;
  color: #fff;
  padding: 40px 80px;
  padding-top: 120px;
}

.content {
  width: 60%;
}

.title {
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 30px;
}

.description {
  line-height: 1.6;
}

.susImgBox {
  width: 100%;
  margin: 70px 0 80px;
  display: flex;
  gap: 15px;
}



.susImgBox .leftImg img {
  width: 680px;
  height: 100%;
  object-fit: cover;
  display: block;
}
