.susImgBox {
  width: 100%;
  margin: 70px 0;
  display: flex;
  gap: 15px;
}

.susImgBox .leftImg img {
  width: 680px;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Mövcud CSS kodunuzun sonuna bunu əlavə edin */
.susImgBox.reversed {
  flex-direction: row-reverse;
}

/* --- RESPONSIVE STYLES --- */
@media (min-width: 768px) and (max-width: 1024px) {
  .susImgBox {
    gap: 10px;
    margin: 50px 0;
  }

  .susImgBox .leftImg img {
    width: 360px;
    height: 470px;
    object-fit: cover;
    display: block;
  }
}

@media (max-width: 768px) {
  .susImgBox {
    flex-direction: column;
    gap: 20px;
    margin: 40px 0;
  }

  .susImgBox .leftImg img {
    width: 340px;
    height: 460px;
    object-fit: cover;
    display: block;
  }

  .susImgBox.reversed {
    flex-direction: column;
  }
}