.susImgBox {
  width: 100%;
  margin: 70px 0;
  display: flex;
  gap: 15px;
}

.susImgBox .leftImg img {
  width: 680px;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* --- RESPONSIVE STYLES --- */
@media (max-width: 768px) {
  .susImgBox {
    flex-direction: column;
    gap: 20px;
    margin: 40px 0;
  }

  .susImgBox .leftImg img {
    width: 340px;
    height: 460px;
    object-fit: cover;
    display: block;
  }
}