.videoMain {
    width: 100%;
    padding: 60px 80px 60px 0px;
}

.videoMain .videoContent {
    height: 700px;
    width: 100%;
    background-color: #BB723A;
    padding: 40px 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoContent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --- RESPONSIVE STYLES --- */
@media (max-width: 768px) {
    .videoMain {
        width: 90%;
        padding: 40px 0;
        margin: 0;
    }

    .videoMain .videoContent {
        height: 250px;
        padding: 0;
    }
    
    /* Mobil üçün xüsusi olaraq sola yapışıq variant */
    .videoMain.mobileVariant {
        width: 85%;
        padding: 40px 0;
        margin: 0;
    }

    /* Xüsusi variant üçün video hündürlüyü */
    .videoMain.mobileVariant .videoContent {
        height: 250px;
        padding: 0;
    }
}

/* Colours sayfası için özel variant */
.videoMain.coloursVariant .videoContent {
    height: 900px;
}

@media (max-width: 768px) {
    .videoMain.coloursVariant .videoContent {
        height: 400px;
    }
}

