.videoMain {
    width: 100%;
    padding: 60px 80px 60px 0px;
}

.videoMain .videoContent {
    height: 700px;
    width: 100%;
    background-color: #BB723A;
    padding: 40px 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoMain.rightAligned {
    padding: 60px 80px 60px 0px; 
    display: flex;
    justify-content: flex-end;
  }

.videoContent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --- RESPONSIVE STYLES --- */
@media (max-width: 768px) {
    .videoMain {
        width: 90%;
        padding: 40px 0;
        margin: 0;
    }

    .videoMain .videoContent {
        height: 250px;
        padding: 0;
    }
    
    .videoMain.mobileVariant {
        width: 85%;
        padding: 40px 0;
        margin: 0;
    }

    .videoMain.mobileVariant .videoContent {
        height: 250px;
        padding: 0;
    }

    .videoMain.rightAligned {
        padding: 40px 20px 40px 0;
      }
}

.videoMain.coloursVariant .videoContent {
    height: 900px;
}

@media (max-width: 768px) {
    .videoMain.coloursVariant .videoContent {
        height: 400px;
    }
}

/* === TABLET EKRANLARI ÜÇÜN (768px - 1024px) === */
@media (min-width: 768px) and (max-width: 1024px) {
  
    .videoMain .videoContent {
      height: 350px;
    }
  }