.videoMain {
    width: 100%;
    padding: 60px 80px 60px 0px;
}

.videoMain .videoContent {
    height: 700px;
    width: 100%;
    background-color: #BB723A;
    padding: 40px 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoContent img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* --- RESPONSIVE STYLES --- */
@media (max-width: 768px) {
    .videoMain {
        padding: 40px 20px;
    }

    .videoMain .videoContent {
        height: 350px;
        padding: 20px;
    }
}