.coloursAbout {
  width: 100%;
  padding: 60px 80px;
  margin-top: 30px;
}

.coloursAbout .aboutMain {
  width: 100%;
  display: flex;
}

.aboutMain .aboutTitle {
  width: 50%;
  padding: 30px 0;
}

.aboutTitle h1 {
  color: #2c3587;
  font-family: GeorgiaBookItalic;
  font-style: italic;
  font-size: 48px;
  font-weight: 500;
}

.aboutMain .aboutDescription {
  width: 50%;
  padding: 30px 7em 30px 0;
}

.aboutDescription p {
  font-weight: 600;
}

.aboutDescription p:nth-of-type(2) {
  margin-top: 2.5em;
}

.aboutDescription span strong {
  text-decoration: underline;
}

/* --- RESPONSIVE STYLES --- */
@media (max-width: 768px) {
  .coloursAbout {
    padding: 40px 20px;
    margin-top: 20px;
  }

  .coloursAbout .aboutMain {
    flex-direction: column;
  }

  .aboutMain .aboutTitle {
    width: 100%;
    padding: 0;
    margin-bottom: 20px;
  }

  .aboutTitle h1 {
    font-size: 32px;
    line-height: 1.3;
  }

  .aboutMain .aboutDescription {
    width: 100%;
    padding: 0;
  }

  .aboutDescription p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
  }

  .aboutDescription p:nth-of-type(2) {
    margin-top: 15px;
  }

  .aboutDescription span {
    font-size: 14px;
  }
}
