.heroSection {
  background-color: #F5F5F5;
  padding: 60px 80px; /* Üst ve alt padding arttırıldı */
  min-height: 650px;
  margin-top: 0; /* Navbar ile arasında boşluk olmaması için */
}

.heroMain {
  width: 100%;
  margin-top: 120px;
  display: flex;
}

.heroItem {
  height: 300px;
  background-color: #fff;
}

.heroItem ul {
  list-style: none;
}

.heroItem ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.heroItem ul li .heroItemIcons {
  width: 40px;
  height: 40px;
  background-color: #e8e8e8;
}

.heroItem ul li span {
  font-size: 12px;
  color: #000000ab;
}

.heroItem ul li:last-child {
  margin-top: 12px;
}