.heroSection {
  background-color: #f5f5f5;
  padding: 60px 80px;
  min-height: 650px;
  margin-top: 0;
}

.heroMain {
  width: 100%;
  margin-top: 6em;
  display: flex;
  justify-content: space-between;
}

.heroItem {
  width: 32%;
  height: 300px;
  display: flex;
  align-items: flex-end;
}

.heroItem ul {
  list-style: none;
}

.heroItem ul li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.heroItem ul li .heroItemIcons {
  width: 40px;
  height: 40px;
  background-color: #e8e8e8;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.heroItem ul li .heroItemIcons:hover {
  background-color: #fff;
}

.heroItem ul li span {
  font-size: 12px;
  color: #000000ab;
  letter-spacing: 0.5px;
}

.heroItem ul li:last-child {
  margin-top: 12px;
}

.heroProductImage {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroProductImage img {
  width: 350px;
  height: 300px;
  object-fit: cover;
}

.heroProductDescription {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroProductDescription h2 {
  font-size: 18px;
  font-weight: 400;
}

.tabList,
.tabMore {
  display: flex;
  gap: 30px;
  margin-bottom: 15px;
}

.tabMore {
  margin-top: 20px;
}

.tabMore span {
  font-size: 12px;
  font-weight: 700;
}

.tabList span {
  font-size: 12px;
  font-weight: 500;
}

.heroProductDescription p {
  font-size: 13px;
  font-weight: 400;
}

.heroButton {
  width: max-content;
  text-decoration: none;
  color: white;
  background-color: #2c3587;
  padding: 8px 30px;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  margin-top: 10px;
  z-index: 2;
  overflow: hidden;
  transition: color 0.3s ease-in-out;
}

.heroButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.heroButton:hover::before {
  transform: translateX(0);
}

.productInfo {
  margin-top: 15px;
}

.infoRow {
  display: flex;
  gap: 20px;
  margin-bottom: 5px;
}

.infoRow span {
  font-size: 12px;
  color: #666;
  font-weight: 400;
  font-style: italic;
}
