.cardLink {
  text-decoration: none;
  color: inherit;
  display: block;
}

.card {
  width: 100%;
  text-align: left;
}

.imageWrapper {
  width: 100%; 
  height: 430px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.cardLink:hover .image {
  transform: scale(1.05);
}

.cardTitle {
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
}

.cardDescription {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #666;
  padding-right: 20px;
}

@media (max-width: 768px) {
.imageWrapper {
  height: 220px;
}

.cardTitle {
  font-size: 14px;
  margin-top: 15px;
}

.cardDescription {
  font-size: 12px;
}

.creative-minds-grid .cardDescription {
  padding-right: 20px;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
  .imageWrapper {
    height: 220px; 
  }
}