.chooseSize {
    width: 100%;
    padding: 60px 80px;
}
.chooseSize .chooseMain {
    width: 100%;
}
.chooseMain .chooseHeader {
    width: 40%;
}
.chooseHeader h1 {
    font-size: 32px;
    color: #020203;
    font-weight: 400;
    margin-bottom: 1.4em;
}
.chooseHeader p {
    font-weight: 600;
}
.chooseMain .chooseImage {
    width: 100%;
    margin: 5em 0 0 3em;
}
.chooseImage img {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .chooseHeader h1 {
    font-size: 20px;
    font-weight: 500;
  }
  
  .chooseHeader p {
    font-size: 14px;
  }

  .chooseImage img {
    height: 400px;
  }
}

/* --- RESPONSIVE STYLES --- */
@media (max-width: 768px) {
  .chooseSize {
    padding: 40px 0px;
  }

  .chooseSize .chooseMain {
    width: 100%;
  }

  .chooseMain .chooseHeader {
    width: 100%;
    margin-bottom: 30px;
    padding: 0 20px;

  }

  .chooseHeader h1 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .chooseHeader p {
    font-size: 14px;
    line-height: 1.5;
  }

  .chooseMain .chooseImage {
    width: 100%;
    margin: 20px 0 0 0;
  }

  .chooseImage img {
    height: 300px;
    object-fit: contain;
  }
}