.productAbout {
  width: 100%;
  padding: 60px 80px;
  margin-top: 30px;
}


.productAboutMain {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.productLeftText {
  width: 50%;
  padding: 30px 45px 30px 0px;
}

.productRightText {
  width: 50%;
  padding: 30px 60px 30px 45px;
}

.productLeftText p,
.productRightText p {
  font-size: 15px;
  font-weight: 600;
}

/* --- RESPONSIVE STYLES --- */
@media (max-width: 768px) {
  .productAbout {
    padding: 40px 20px;
    margin-top: 20px;
  }

  .productAboutTitle h1 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .productAboutMain {
    flex-direction: column;
  }

  .productLeftText {
    width: 100%;
    padding: 0 0 30px 0;
  }

  .productRightText {
    width: 100%;
    padding: 0;
  }

  .productLeftText h5,
  .productRightText h5 {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .productLeftText p,
  .productRightText p {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
  }
}