.productAbout {
  width: 100%;
  padding: 60px 80px;
  margin-top: 30px;
}


.productAboutMain {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.productLeftText {
  width: 50%;
  padding: 30px 45px 30px 0px;
}

.productRightText {
  width: 50%;
  padding: 30px 60px 30px 45px;
}

.productLeftText p,
.productRightText p {
  font-size: 15px;
  font-weight: 600;
}