.mBanner {
    width: 100%;
    display: flex;
    padding: 50px 0;
    gap: 20px;
}

.mBanner.reversed {
    flex-direction: row;
}

.leftBanner {
    width: 800px;
    height: 1000px;
}
.mBanner.reversed .leftBanner {
    width: 800px;
    height: 1000px;
}

.rightBanner {
    width: 560px;
}
.mBanner.reversed .rightBanner {
    width: 560px;
    margin-left: 0;
}

.leftBanner img,
.rightImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rightImgContainer {
    width: 100%;
    height: 750px;
}
.mBanner.reversed .rightImgContainer {
    height: 500px;
}

.rightText {
    width: 100%;
    padding: 2rem;
}

.mBanner.reversed .rightText {
    padding-right: 130px;
}

.rightText h1 {
    font-size: 26px;
    font-weight: 500;
    font-style: italic;
}

.rightText p {
    font-size: 14px;
    font-weight: 600;
    padding-right: 30px;
}

.heroButton {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #3a3126;
    padding: 8px 30px;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    margin-top: 10px;
    z-index: 2;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
}

.heroButton::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
    z-index: -1;
}

.heroButton:hover::before {
    transform: translateX(0);
}

@media (max-width: 768px) {
    .mBanner {
        flex-direction: column !important;
        padding: 40px 0;
        gap: 30px;
        align-items: flex-start;
    }

    .rightBanner,
    .mBanner.reversed .rightBanner {
        width: 100%;
        height: auto;
        margin-left: 0;
    }
    
    .leftBanner,
    .mBanner.reversed .leftBanner {
        width: 85%;
        height: 430px; 
        margin-left: 0;
    }

    .rightBanner {
        width: 100%;
    }
    
    .rightImgContainer {
        width: 85%;
        height: 250px !important;
    }

    .rightText {
        padding: 2rem 20px;
        width: 100%;
        box-sizing: border-box;
    }
    .mBanner.reversed .rightText {
        padding: 2rem 20px;
    }

    .rightText h1 {
        font-size: 24px;
    }
    .rightText p {
        font-size: 13px;
        font-weight: 600;
        padding-right: 30px;
    }

    .heroButton {
        font-size: 12px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .mBanner {
      gap: 10px;
    }
  
    .leftBanner {
      width: 45% !important;
      height: 480px !important;
    }
  
    .rightBanner {
      width: 40% !important;
    }
  
    
    
    .rightImgContainer[style*="height"] {
        height: 250px !important;
    }
  
    .rightText h1 {
      font-size: 20px;
    }
  
    .rightText p {
      font-size: 13px;
      padding-right: 0;
    }
    
    .mBanner.reversed .rightText {
      padding-right: 1.5rem;
    }

    .heroButton {
        font-size: 12px;
        padding: 8px 20px; /* Padding-i bir az azaltdım, amma saxlaya da bilərsiniz */
        white-space: nowrap;
  }
}
